@model u21589276_HW06.Models.ordersVm
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Orders";
}

@{ 
    var total = 0;

}



<h1>Orders</h1>

@using (Html.BeginForm())
{
    <p class="form-inline">
        <input type="date" class="form-control" id="dateSearch" placeholder="yyyy-mm-dd" value="" min="0000-01-01" max="2100-12-31"/>
        <input type="submit" class="btn btn-primary" value="Search" />
    </p>
}


@foreach (var order in Model.Orders)
{
    decimal grandtot = 0;
    decimal totl = 0;
    <h3>Order @order.order_id - @order.order_date</h3>

    <table class="table table-striped" id="ordertbl">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>List Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var orderItem in Model.OrderItems)
            {
                decimal qty = orderItem.quantity;
                var modelprice = Model.Products.Where(p => p.product_id == orderItem.product_id).ToList();
                
                totl = qty*modelprice[0].list_price;

                if (order.order_id == orderItem.order_id)
                {

                    <tr>
                        @foreach (var product in Model.Products)
                        {
                            if (orderItem.product_id == product.product_id)
                            {
                                <td>@product.product_name</td>
                                <td id="prc @product.product_id">@product.list_price</td>
                            }

                        }

                        <td id="qty @orderItem.product_id">@orderItem.quantity</td>
                        <td class="numeric" id="lineTot">@totl</td>
                    </tr>
                    grandtot += totl;
                }
            }
        
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td>Grand Total</td>
                <td id="grandTot"><b>@grandtot</b></td>
            </tr>
        </tfoot>
    </table>
    <br />
}

@(Model.Orders.PageCount < Model.Orders.PageNumber ? 0 : Model.Orders.PageNumber) of @Model.Orders.PageCount
@Html.PagedListPager(Model.Orders, page => Url.Action("Orders", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<script type="text/javascript">

</script>