@model u21589276_HW06.Models.productsVm
@using PagedList.Mvc;

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

@{
    ViewBag.Title = "Index";
}


<h1>Products</h1>


@using (Html.BeginForm())
{
    <p class="form-inline">
        <input type="text" class="form-control" placeholder="Enter product name..." name="searchString" />
        <input type="submit" class="btn btn-primary" value="Search" />
    </p>
}

<button type="button" class="btn btn-info" id="createbtn">Create</button>
@*<a href="@Url.Action("Create","products")" class="btn btn-info" id="createbtn">Create</a>*@

<br />
<br />

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Category</th>
        <th> </th>
    </tr>

    @foreach (var item in Model.Products)
    {
        var btndetailsId = "dt " + item.product_id;

        <tr>
            <td>@item.product_name</td>
            <td>@item.model_year</td>
            <td>@item.list_price</td>
            @foreach (var brand in Model.Brand)
            {
                if (item.brand_id == brand.brand_id)
                {
                    <td>@brand.brand_name</td>
                }

            }

            @foreach (var category in Model.Categories)
            {
                if (item.category_id == category.category_id)
                {
                    <td>@category.category_name</td>
                }
            }
            <td>

                @Html.ActionLink("Edit", "Edit", new { id = item.product_id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.product_id }, new { @class = "btn btn-info details" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.product_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<br />
@(Model.Products.PageCount < Model.Products.PageNumber ? 0 : Model.Products.PageNumber) of @Model.Products.PageCount
@Html.PagedListPager(Model.Products, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

<!-- Modal -->
<div class="modal fade" id="produuctsModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="prodModalbody" class="modal-body">

            </div>
        </div>
    </div>
</div>


<script type="text/javascript">
        $(document).ready(function () {

            //returs create view
            $(document).on('click', '#createbtn', function (event) {
                event.preventDefault();
                event.stopImmediatePropagation();

                $.ajax({
                    url: '/products/Create',
                    type: 'GET',
                    success: function (data) {
                        $('#prodModalbody').html(data);
                        $('#produuctsModalCenter').modal('show');
                    },
                    error: function () {
                        alert("There is some problem in the service! Check Controller or view.")
                    }
                });
            });

            $(".detail").click(function (e) {
                $.ajax({
                    url: '/products/Details',
                    type: 'GET',
                    success: function (data) {
                        $('#prodModalbody').html(data);
                        $('#produuctsModalCenter').modal('show');
                    },
                    error: function () {
                        alert("There is some problem in the Details service! Check Controller or view.")
                    }
                });
            });

            //////returs details view
            //   $(document).on('click', ".details", function (event) {
            //       event.preventDefault();
            //       event.stopImmediatePropagation();

            //       $.ajax({
            //           url: '/products/Details',
            //           type: 'GET',
            //           success: function (data) {
            //               $('#prodModalbody').html(data);
            //               $('#produuctsModalCenter').modal('show');
            //           },
            //           error: function () {
            //               alert("There is some problem in the Details service! Check Controller or view.")
            //           }
            //       });
            //   });


            //returns Edit view
            $(document).on('click', '#ED', function (event) {
                event.preventDefault();
                event.stopImmediatePropagation();

                $.ajax({
                    url: '/products/Edit',
                    type: 'GET',
                    success: function (data) {
                        $('#prodModalbody').html(data);
                        $('#produuctsModalCenter').modal('show');
                    },
                    error: function () {
                        alert("There is some problem in the Edit service! Check Controller or view.")
                    }
                });
            });

            $(document).on('click', '#', function (event) {
                event.preventDefault();
                event.stopImmediatePropagation();

                $.ajax({
                    url: '/products/Delete',
                    type: 'GET',
                    success: function (data) {
                        $('#prodModalbody').html(data);
                        $('#produuctsModalCenter').modal('show');
                    },
                    error: function () {
                        alert("There is some problem in the Delete service! Check Controller or view.")
                    }
                });
            });
        });
</script>