@model PagedList.IPagedList<u21589276_HW06.Models.product>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Index";
}

<h1>Products</h1>


    @using (Html.BeginForm())
    {
        <p class="form-inline">
            <input type="text" class="form-control" placeholder="Enter product name..." name="SearchString" />
            <input type="submit" class="btn btn-primary" value="Search" />
        </p>
    }

    @*Html.ActionLink("Create", "Create", new { @class = "btn btn-info" })*@
    <a href="@Url.Action("Create","products")" class="btn btn-info">Create</a>
<br />
<br />

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>Year</th>
        <th>Price</th>
        <th>Brand</th>
        <th>Category</th>
        <th> </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.product_name</td>
            <td>@item.model_year</td>
            <td>@item.list_price</td>
            <td>***missing</td>
            <td>***missing</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.product_id }, new { @class = "btn btn-primary" }) |
                @Html.ActionLink("Details", "Details", new { id = item.product_id }, new { @class = "btn btn-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.product_id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>

<br />
@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
